body {
    background-color: rgb(222, 229, 255);
    margin: 0;
    padding: 0;
}

#titulo {
    text-align: center;
    color: rgb(31, 42, 92); 
}

.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: #5260ac;
    font-family: 'Georgia', serif;
}

.data-hora {
    text-align: center;
}

#btn-dialog-fechar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #171e47d5;
    border-radius: 3px; /* Bordas arredondadas em botões */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Georgia', serif;
    color: white;
}

#btn-dialog-bater-ponto {
    font-family: 'Georgia', serif;
    background-color: #293474af;
    color: white;
    width: 150px;
    height: 40px;
    border: 2px solid #293474d8;
    border-radius: 10px; /* Raio de 10 pixels */
}

/* Posicionamento do alerta no topo da página com position fixed */
#alerta-registro-ponto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4a40a1;
    color: white;
    font-family: 'Georgia', serif;
    /* TO-DO: */
    /* posicionar fora da página */
    /* pode usar o translate no eixo Y */
    /* usar um efeito de transição */
}

#alerta-registro-ponto p {
    text-align: center;
    /* TO-DO: */
    /* Estilizar */
}

/* TO-DO: */
/* Adicionar código CSS para alterar a opacidade */
.hidden {
    /* TO-DO: */
    /* enviar para fora da página */
    opacity: 0;
}

.show {
    /* TO-DO: */
    /* trazer para dentro da página */
    opacity: 1;
}

#div-btn-bater-ponto {
    text-align: center;
}

.data-hora p {
    font-size: 20px; /* tamanho relativo */
    font-family: 'Georgia', serif;
}
